body {
    padding: 1% 5%;
    background-color: #FFF;
    color: #000;
}

h1 {
    border-bottom: solid 1px #555;
    padding: 0.3em;
    text-align: center;
    font-family: sans-serif;
    font-size: 250%;
}

h2{
    border-left: solid 0.45em #CCC;
    padding: 0.2em 0.2em 0.2em 0.4em;
    background-color: #DDD;
    font-family: sans-serif;
    font-size: 180%;
}

h3{
    border-bottom: solid 1px #CCC;
    padding: 0.2em 0.2em 0.2em 0.4em;
    font-family: sans-serif;
    font-size: 135%;
}

h4{
    border-bottom: solid 1px #CCC;
    padding: 0.2em 0.2em 0.2em 0.4em;
    font-family: sans-serif;
    font-size: 120%;
}

thead {
    background-color: #DDD;
}

th, td{
    padding: 0.4em;
}

div.table_of_contents p{
    padding: 0em 2em;
    font-size: 90%;
}

a:link {
    color: #009;
    text-decoration: none;
}

a:visited {
    color: #009;
    text-decoration: none;
}

a:hover {
    background-color: #FEE;
    color: #000;
    text-decoration: none;
}

#select_lang {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.example {
    background-color: #DDD;
    margin: 1em 0 1em 0;
    padding: 1.0em;
}

.mod_param_cap {
    margin: 0.5em;
    font-size: 120%;
    font-weight: bold;
}

.code_comment {
    color: #910;
}

.map_type_map {
    background-color: #AAA;
}

.map_type_key {
    background-color: #DDD;
}

.map_type_value {
    background-color: #EEE;
}